<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
		<rewrite>
			<rules>
				<rule name="slim catch all" enabled="true">
					<match url=".*" />
					<action type="Rewrite" url="index.php" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{URL}" pattern="/content/.*" negate="true" />
					</conditions>
				</rule>
			</rules>
		</rewrite>
    </system.webServer>
</configuration>
